@import "./styles/helpers/colors.scss";
@import "./styles/helpers/medias.scss";
@import "./styles/helpers/misc.scss";
@import "./styles/helpers/fonts.scss";
@import "./styles/helpers/reset.scss";
@import "./styles/helpers/spaces.scss";
// @import "./styles/custom-bootstrap.scss";
// @import "~bootstrap/scss/bootstrap";

// Import styles 
@import 'styles/button.scss';
@import 'styles/simple-link.scss';
@import 'styles/loader-spinner.scss';
@import 'styles/overlay.scss';


.app {
    font-family: 'Helvetica Neue';
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
    background-color: var(--colorVeryLightGrey);
    
    &-content {
        padding: 40px;
        flex: 1;
        display: flex;
        flex-direction: column;
        button {
            width: fit-content;
        }

        .section {
            margin: 1rem 0;
            .element {
                margin: 1rem 0;
            }
        }
    }
    
    .text-clip {
        overflow: hidden;
        text-overflow: ellipsis;
        &-size { 
            max-width: 230px;
            @include small {
                max-width: 100%;
            }
        }
    }
      
    .word-break {
        word-break: break-word;
    }
      
    // button {
    //     background: none;
    //     text-decoration: none;
    //     color: inherit;
    //     border: none;
    //     font: inherit;
    //     cursor: pointer;
    //     outline: inherit;
    // }

    * {
        box-sizing: border-box;
    }
    
    a {
        text-decoration: none;
        color: inherit;
    }
    
    html::-webkit-scrollbar {
        width: 10px;
        background-color: var(--colorPrimary100); 
    }
    
    html::-webkit-scrollbar-thumb {
        background: var(--colorPrimary); 
    }
}