@import "../../helpers/medias.scss";
@import "../../helpers/colors.scss";
@import "../../helpers/medias.scss";
@import "../../helpers/misc.scss";

.registry-office-app {
    background-color: var(--colorVeryLightGrey);
    .title, .section-title {
        font-weight: bold;
    }
    .section {
        margin: 1rem 0;
        button {
            display: block;
            margin: 0.35rem 0;
        }
    }    
    .registration-recap {
        margin: 1rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: var(--colorSecondary);
        border-radius: 5px;
        box-shadow: 3px 3px 4px 1px rgba(63, 63, 63, 0.181);
        & .recap {
            display: flex;
            text-align: left;
            flex-direction: column; 
            color: var(--colorWhite);
            margin: 1rem;
        }
    }
}
