:root {
    /* Shades of black and white */
    --colorMainBlack: #0e0e0e;
    --colorDarkGrey: #707070;
    --colorLightGrey: #C2C2C2;
    --colorVeryLightGrey: #EDEDED;
    --colorWhite: #FAFAFA;
    
    /* Main color */
    --colorPrimary: #2acc8e;
    --colorPrimary200: #78e9be;
    --colorPrimary100: #c1f6e2;

    --colorPrimaryBack: rgba(158, 142, 245, 0.315);
    --colorPrimary50: #cacaecb2;
    
    /* Secondary color */
    --colorSecondary:#470bd3;
    --colorSecondary200: #794ae7;
    --colorSecondary100: #bca8ea;
}