@import url('https://fonts.googleapis.com/css?family=Aldrich');
@import url('https://fonts.googleapis.com/css?family=Poppins');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Arabic');
@import url('https://fonts.googleapis.com/css?family=Assistant');

h1,h2,h3,h4,h5,h6 {
    font-family: 'Poppins';
    font-weight: bold;
    margin: 0.35rem 0;
}

h1 {
    font-size: 40px;
    @include regular {
        font-size: 36px;
    }
    
    @include small {
        font-size: 28px;
    }
    @include mobile {
        font-size: 24px;
        text-align: center;
    }
}

h2 {
    font-size: 28px;
    @include regular {
        font-size: 24px;
    }
    
    @include small {
        font-size: 22px;
    }
    @include mobile {
        font-size: 20px;
        text-align: center;
    }
}

h3 {
    font-size: 22px;
    @include regular {
        font-size: 22px;
    }
    @include small {
        font-size: 22px;
    }
    @include mobile {
        font-size: 20px;
        text-align: center;
    }
}

h4 {
    font-size: 20px;
    @include regular {
        font-size: 18px;
    }
    @include small {
        font-size: 18px;
    }
    @include mobile {
        font-size: 17px;
        text-align: center;
    }
}

h5 {
    font-size: 18px;
    @include regular {
        font-size: 17px;
    }
    @include small {
        font-size: 17px;
    }
    @include mobile {
        font-size: 17px;
        text-align: center;
    }
}

h6 {
    font-size: 17px;
    @include regular {
        font-size: 16px;
    }
    @include small {
        font-size: 16px;
    }
    @include mobile {
        font-size: 16px;
        text-align: center;
    }
}