@import "./helpers/medias.scss";
.header {
    box-shadow: none !important;
    .public-address {
        color: white;
        background-color: var(--colorSecondary); 
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.178);
        margin-left: 1.25rem;
        &.text-clip-size { 
            @include large {
                min-width: fit-content;
            }
            @include regular {
                max-width: 30%;
            }
            @include small {
                max-width: 50%;
            }
            @include small {
                max-width: 40%;
            }
        }
    }
}