.loader-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: 10rem;
    border: 5px solid rgba(white, 0.3);
    border-radius: 50%;
    border-right-color: white;
    animation: 2s spin infinite ease-in-out;
    padding:0;
    margin: auto;
}

@keyframes spin {
    from {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg);
    }
}